<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/style/style.css" type="text/css" />
	<title>Washington Post Mongo Madness</title>
</head>

<body>
	{{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>

</html>