body {
  background-image: url("https://motionarray.imgix.net/preview-71322-39bArOLq3P_0001.jpg");
  background-size: 150%;
  color: whitesmoke;
  opacity: .90;
}

#wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

#articles-saved {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 300px;
}

#user-comment {
  float: right;
  width: 35%;
}

#user-saved {
  float: right;
  width: 30%;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 300px;
  font-size: 18px;
}

a { 
  color: inherit; 
}
.scraped-art {
  background: white;
  color: blue;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 18px;
}