<div id="wrapper-scraped">
    <h1>Washington Post Scraper</h1>
    </br>
    <h3 id="scraped-info"><i>Scrape has now completed, click the button below to return to the main page and begin searching for new articles</i></h3>

            <a href="/"><button type="button" class="btn btn-dark btn-lg">Click Here To Return Home And See Articles</button></a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>